* {
    margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Poppins";
}
:root {
  --bg-color: #080808;
  --second-bg-color: #101010;
  --text-color: white;
  --main-color: #ea580c;
}
html {
  font-size: 60%;
  overflow-x: hidden;
}
body{
    background-color:#080808;
    color: white;
}
.logo {
    font-size: 25px;
    color : #ea580c;
    border-radius: 10px;
    padding: 1%;
    backdrop-filter: blur(10px);
    transition: 0.3s ease-in-out;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;

}
.logo:hover{
    transform: scale(1.9);
    color: cyan;
    border: 3px solid black;
}
.header{
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    padding: 4rem 15%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    font-size: 25px;
}
.navbar a{
    color: white;
    font-weight: 500;
    margin-left:4rem;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}
.navbar a:hover{
    transform: scale(1.1);
    color: #ea580c;
}
section{
    min-height:100vh;
    padding: 100px;
    margin-top: 4rem;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 240px;
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}
.home-content h1{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
.home-content span{
    display: inline-block;
    color:#ea580c;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    margin-left: 2px;
}
.home-content span:hover{
    transform: scale(1.1);
    text-shadow: 0 0 2px #ea580c;
}
.home-content h3{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: #d34f07d1;
}
.home-content p{
    font-size: 2rem;
    line-height: 1.8;
    font-weight: 500;
}
.home-img img{
    width: 32vw;
    border-radius: 50%;
    box-shadow:0 0 25px #195405;
    transition: 0.4s ease-in-out;
}
.home-img img:hover{
    transform: scale(1.1);
    box-shadow:0 0 25px  #195405,
               0 0 50px  #195405,
}
