* {
    margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Poppins";
}
:root {
  --bg-color: #080808;
  --second-bg-color: #101010;
  --text-color: white;
  --main-color: #ea580c;
}
html {
  font-size: 60%;
  overflow-x: hidden;
}
body{
    /* background-color:#080808; */
    /* background: linear-gradient(135deg, #000000, #111827); */
    background: linear-gradient(135deg, #0a0806, #1a120d, #0d0908);
    color: white;
}
.logo {
    font-size: 25px;
    color : #ea580c;
    border-radius: 10px;
    padding: 1%;
    /* transition: 0.3s ease-in-out; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;

}
/* .logo:hover{
    transform: scale(1.5);
} */
.header{
    /* position: fixed; */
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    padding: 4rem 15%;
    background: rgba(0, 0, 0, 0.3);
    /* backdrop-filter: blur(10px); */
}
.menu{
    display: inline-flex;
    justify-content:center;
    align-items: center;
    gap: 10px;
    margin-left: 12rem;
}
.header img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}
.header img:hover{
      box-shadow:0 0 25px  #195405,
               0 0 50px  #195405;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    font-size: 25px;
}
.navbar a{
    color: white;
    font-weight: 500;
    margin-left:4rem;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}
.navbar a:hover{
    transform: scale(1.1);
    color: #ea580c;
}
#hello{
     min-height:100vh;
    padding: 100px;
    margin-top: 4rem;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 240px;
}
.home-content h3{
    font-size: 4rem;
    font-weight: 1100;
    margin-bottom: 1.5rem;
    color: #ea580c;
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
}
.home-content h1{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: flex-end;
}
.home-content span{
    display: inline-block;
    color:#ea580c;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    margin-left: 2px;
}
.home-content span:hover{
    text-shadow: 0 0 2px #ea580c;
}
.home-content p{
    font-size: 2rem;
    line-height: 1.8;
    font-weight: 500;
    box-shadow: 0 4px 8px 0 #ea580c;
    border-radius: 8px; 
    padding: 1rem;
    transition: 0.3s ease-in-out;
    text-align: center;
    cursor: pointer;
}
.home-content p:hover{
    box-shadow: 0 4px 8px 0 #ea580c,
                0 8px 16px 0 #ea580c;
}
.home-img img{
    width: 25vw;
    border-radius: 50%;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    box-shadow:0 0 25px #195405;
    transition: 0.4s ease-in-out;
}
.home-img img:hover{
    box-shadow:0 0 25px  #195405,
               0 0 50px  #195405,
               0 0 100px #195405;
}
.social-icons a{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin:3rem 2rem;
    padding: 1rem;
    font-size: 3rem;
    border-radius: 50%;
    color: #ea580c;
    box-shadow: 0 0 10px #ea580c;
    border: 3px solid #ea580c;
    transition: 0.3s ease-in-out;
}
.social-icons a:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px #ea580c,
                0 0 20px #ea580c;
}
.Skill{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 350px; 
}
#hello2{
     min-height:100vh;
    /* padding: 25px; */
}
.skill-img img{
    border-radius: 50%;
    width: 35vw;
    margin-right: 3rem;
    box-shadow:0 0 25px #0e7457 ;
}
.mySkills{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top:8rem;
    margin-bottom: 8rem;
}
.mySkills i{
    font-size: 3rem;
    color: white;
}
.mySkills p{
    font-size: 3rem;
    margin: 2rem;
    width:15vw;
    background-color: transparent;
    text-align: center;
    border-radius:20px;
    width: 50vh;
    padding: 2%;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 3px solid #ea580c;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.mySkills p:hover{
    transform: scale(1.3);
    background-color: #ea580c;
    box-shadow: 0 0 10px #ea580c;
}
.try{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.try h1{
    font-size: 8rem;
    margin:2rem;
    color: #ea580c;
    padding: 1rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.try h1:hover{
    box-shadow: 0 0 10px #ea580c,
                0 0 20px #ea580c;
    border-radius: 20px;
}
.try p{
    font-size: 4rem;
    margin:2rem;
    color:#ffffff;
    border-radius: 20px;
    padding: 1rem;
    font-weight: 700;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.head-project{
     display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.head-project h1{
    font-size: 8rem;
    margin:2rem;
    color: #ea580c;
    padding: 1rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.head-project h1:hover{
     box-shadow: 0 0 10px #ea580c,
                0 0 20px #ea580c;
    border-radius: 20px;
}
.big{
    display: flex;
    justify-content: center;
    margin-top:8rem;
    margin-bottom: 8rem;
    gap: 10rem;
    align-items: stretch;
}
.small-1{
    width: 400px;
    
}
.small-2{
    width: 400px;
}
.balu{
    font-size: 2rem;
    line-height: 1.8;
    font-weight: 500;
    box-shadow: 0 4px 8px 0 #ea580c;
    border-radius: 8px; 
    padding: 1rem;
    transition: 0.3s ease-in-out;
    text-align: center;
    cursor: pointer;
}
.balu:hover{
    box-shadow: 0 4px 8px 0 #ea580c,
                0 8px 16px 0 #ea580c;
    transform: scale(1.1);
}
.alu{
    font-size: 3rem;
    line-height: 1.8;
    font-weight: 500;
    color: #ea580c;
    border-radius: 8px; 
    padding: 1rem;
    transition: 0.3s ease-in-out;
    text-align: center;
    cursor: pointer;
}
.alu:hover{
    transform: scale(1.1);
    color: #ff5900;
    font-weight: 800;
}
footer{
  text-align: center;
  margin-top: 10px;
  font-size: 2rem;
  padding-top: 10px;
}